
/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1em/1.5;
	font-family: Futura, "Trebuchet MS", sans-serif;
	color: #222;
	background-color: white;
}
img {
	border: solid 1px;
	padding: 5px;
}

/* Main Layout Styles
================================ */

.main-header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white; 
}
.main-logo {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}
.main-logo a {
	display: block;
	text-align: center;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}

.main-nav a {
	font-size: 1.1em;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;	
	color: black;
}

.main-nav a:hover,
.current-page{
	border-bottom: 2px solid red;
}

.button {
	float: right;
	background-color: lightblue;
	color: white;
	margin: 10px;
	padding: 20px;
	text-decoration: none;
}

.main-nav a:visited{
	color: black;
}

.main-logo a { 
	background-color: #5fcf80; 
}

.main-footer {
	text-align: center;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
 	background-color: #b7c0c7;
}

.main-banner {
		background: hsla(0, 0%, 100%, 1);
		text-align: center;
		padding: 50px 15px;
		margin-bottom: 20px;
		font-size: 2em;
		box-shadow: inset 0px 0px 10px;
	}

@media (min-width: 768px) { 

	/* Main Layout Styles
	================================ */

	body {
		padding-top: 75px;
	}
	.main-header {
		position: fixed;
		top: 0;
		width: 100%;
	}
	.main-nav {
		text-align: right;
	}
	.main-nav li {
		margin-top: 6px;
		margin-left: 10px;
		display: inline-block;
	}
	

	/* Imagery
	================================ */

	.feat-img {
		width: 45%;
		float: left;
		margin: 5px 20px 10px 0;
	}

}

@media (min-width: 1px) and (max-width: 767px)  {
	.main-nav li {
		margin-top: 12px;
	}
}